<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1 class="page-title">User List Screen</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="/user/list">User List</a>&nbsp;|&nbsp;
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list">Rule</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#authentication.name}]] </b>
            <form th:action="@{/perform_logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

<!-- Titre principal -->
   <div class="mb-4"><h2>User List</h2></div>

<!-- Boutons d'action -->
    <div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary btn-sm" th:href="@{/user/add}">Add New</a>
    </div>

    <table class="table table-striped table-bordered">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Full Name</th>
                   <th>User Name</th>
                   <th>Role</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="user : ${users}">
                   <td style="width: 10%" th:text="${user.id}"></td>
                   <td th:text="${user.fullname}"></td>
                   <td th:text="${user.username}"></td>
                   <td style="width: 25%" th:text="${user.role}"></td>
                   <td style="width: 15%" class="text-center">
                       <a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
                       <a th:href="@{/user/delete/{id}(id=${user.id})}"
                          onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                           Delete
                       </a>
                   </td>
               </tr>
           </tbody>
       </table>
</div>
<div class="footer-logo">
   <img th:src="@{/images/poseidon_logo.png}" alt="Poseidon Capital Solutions Logo">
</div>
</body>
</html>